<%
  data = data.with_indifferent_access
  label = data[:label]
  field = data[:field_name]
  field_type = data[:field_type] || :text_field
  value = data[:value]
  value_method = data[:value_method]
  value ||= if value_method
            value_method.call(object)
          else
            object.respond_to?(field) ? object.send(field) : ''
          end
  opts = data[:opts] || {}
  opts[:value] = value if value

  if (display_permission = data[:display_permission])
    visible = display_permission.call(@current_user)
    opts[:hidden] = !visible
    label = nil unless visible
  end

  opts[:class] = 'form-input'
%>

<div>
  <% if label %>
    <div class="label"><%= "#{label}:" %></div>
  <% end %>

  <% if field_type == :display %>
    <strong><%= value %></strong>
  <% else %>
    <%=
      if field_type == :select
        field_opts = (
          ResourceType.for_key("#{object.class.to_s.downcase}_#{field}").pluck(:value) << value
        ).uniq
        select_opts = options_for_select(field_opts, value)
        f.send(field_type, field, select_opts, {}, opts)
      else
        f.send(field_type, field, opts)
      end
    %>
  <% end %>
</div>
