<%
  label = data[:label]
  field = data[:field]
  field_type = data[:field_type] || :text_field
  value_method = data[:value_method]
  value = value_method ? value_method.call(object) : object.send(field)
  opts = data[:opts] || {}
%>

<div>
  <% if label %>
    <div class="label"><%= "#{label}:" %></div>
  <% end %>

  <% if field_type == :display %>
    <strong><%= value %></strong>
  <% else %>
    <%=
      opts ||= {}
      opts[:class] = 'form-input'
      if field_type == :select
        field_opts = object.class.const_get("#{field.upcase}_OPTIONS")
        select_opts = options_for_select(field_opts, object.send(field))
        f.send(field_type, field, select_opts, {}, opts)
      else
        f.send(field_type, field, opts)
      end
    %>
  <% end %>
</div>
