<h1>Đăng Nhập</h1>
<%= form_tag sessions_path do %>
  <div>
    <div class="label ">Tên đăng nhập:</div>
    <%= text_field_tag :username %>
  </div>
  <div>
    <div class="label">Mật khẩu:</div>
    <%= password_field_tag :password %>
  </div>
  <button>
    <i class="fa-solid fa-circle-right"></i> Đăng Nhập
  </button>
<% end %>