<h1>Cập Nhật Thông Tin Thiếu Nhi </h1>

<%= render 'form' %>
<%= button_to 'Quay Lại', :back, method: :get, :class => "button" %>
<%= button_to 'Xóa', @student, method: :delete, data: { confirm: 'Xóa hết thông tin và Hành Trình Thiêng Liêng của thiếu nhi? Nên cập nhật thông tin thay vì xóa. Are you sure?' }, :class => "button button-caution" %>