<h1>Danh Sách Account</h1>

<table>
  <thead>
  <tr>
    <th style='width: 280px'>Tên Thánh - Họ và Tên</th>
    <th style='width:  80px'>Ngày Sinh</th>
    <th style='width:  90px'>Điện Thoại</th>
    <th style='width:  90px'>Username</th>
  </tr>
  </thead>

  <tbody>
  <% @users.each_with_index do |user| %>
    <% teacher = user.teacher %>

    <tr class="table-row">
      <td style='width: 280px'><%= link_to teacher&.name || user.username, teacher %></td>
      <td style='width: 100px'><%= teacher&.date_birth&.strftime("%d-%m-%Y") %></td>
      <td style='width:  90px'><%= teacher&.phone %></td>
      <td style='width:  90px'><%= link_to user.username, user %></td>
    </tr>
  <% end %>
  </tbody>
</table>