<h1>Cập Nhật Kết Quả</h1>

<%= render 'form' %>
<%= button_to 'Quay Lại', :back, method: :get, :class => "button"  %>
<%= button_to 'Xóa', @enrollment, method: :delete, data: { confirm: 'Are you sure?' }, class: "button button-caution" %>
