<h1>Cập Nhật Thông Tin Giáo Lý Viên</h1>

<%= render 'form' %>
<%= link_to 'Quay Lại', teachers_path, :class => "button" %>
<%= link_to 'DELETE', @teacher, method: :delete, data: { confirm: 'Are you sure?' }, :class => "button-caution" %>
