<%
  admin_actions = [
    { label: 'Tạo Lớp Học', path: new_classroom_path },
    { label: 'Tạo Thiếu Nhi', path: new_student_path },
    { label: 'Tạo Giáo Lý Viên', path: new_teacher_path },
  ]
%>

<%= render 'components/form/form',
           heading: 'Thông Tin Giáo Lý Viên',
           object: @teacher,
           editable: @current_user.admin_or_self_teacher?(@teacher)
%>
<%= render 'guidances/index' %>
<% user = @teacher.user %>
<% user = User.new(teacher: @teacher) if !user && @current_user.admin? %>
<%= render 'components/form/form',
           heading: 'Thông tin đăng nhập',
           object: user,
           editable: @current_user.admin_or_self_teacher?(@teacher) if user
%>

<% if @current_user.admin? && @current_user.self_teacher?(@teacher) %>
  <h1>Chức năng Admin</h1>
  <%= render 'components/button_group', actions: admin_actions %>
<% end %>