article {
  button, .button {
    background-image: linear-gradient(
            to right,
            #25aae1,
            #4481eb,
            #04befe,
            #3f86ed
    );
    margin: 10px auto 0;
    width: 140px;
    display: block;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    height: 30px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 5px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }

  button:hover, .button:hover{
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }

  .button-caution {
    background-image: linear-gradient(
            to right,
            #ed5f3f,
            #fe0c04,
            #ed963f,
            #ed3f3f
    );
  }
}