button, .button {
  background-image: linear-gradient(
          to right,
          #25aae1,
          #4481eb,
          #04befe,
          #3f86ed
  );
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
  margin: 10px auto 0;
  width: 240px;
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  height: 40px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

button:hover, .button:hover{
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.button-caution {
  background-image: linear-gradient(
          to right,
          #ed5f3f,
          #fe0c04,
          #ed963f,
          #ed3f3f
  );
}