.e-card {
  display: grid;
  grid-template-columns: 1fr 3fr;
  background: white;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 0 3px;
  text-align: center;
}

.e-info_grid_cell {
  box-shadow: 0 0 2px;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  position: relative;
}

.e-classroom_year {
  font-size: xx-small;
}

.e-eval_textarea {
  width: 90%;
  resize: none;
}

.tr-icon {
  color: #14387e;
  cursor: pointer;
  padding: 2px 5px;
  position: absolute;
  right: 5px;
  top: 5px;
  background: none;
  border: none;
  transition-duration: 0s;
}

.fill-hover:hover {
  border-radius: 5px;
  color: white;
  background: #14387e;
}

.red-hover:hover {
  color: red;
}