header
{
  font-family: 'Pattaya', serif;
  font-weight: bold;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: inline-block;
  padding: 5px;
}

nav a {
  padding: 0 20px;
  font-size: 18px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}