table {
  border-spacing: 0;
  margin: auto;
  background: white;
}

th {
  border: 1px solid;
  height: 20px;
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  padding: 5px 0 0;
  font-family: inherit;
  background: bisque;
}

td {
  border: 1px solid;
  height: 20px;
  font-size: 11px;
  padding: 3px 5px 0 5px;
  text-align: center;
}

.table-row {
  border-style: none;
  background-color: white;
}

.table-row:hover {
  background: ghostwhite;
}