<h1>Tìm kiếm Thiếu Nhi / Giáo Lý Viên</h1>

<form action="/search" method="get">
    <div style="display: block; margin: auto; width: 55%">
      <div class="label">Họ và tên:</div>
      <input type="text" name="query"/>
    </div>
    <button type="submit" class="button" value="Tìm Kiếm">
        <i class="fa-solid fa-magnifying-glass"></i> Tìm Kiếm
    </button>
</form>

<% unless @enrollments.empty? %>
  <h1>Thiếu Nhi</h1>
  <%= render 'students/info_table' %>
<% end %>

<% unless @guidances.empty? %>
  <h1>Giáo Lý Viên</h1>
  <%= render 'teachers/info_table' %>
<% end %>