<h1>Cập Nhật Kết Quả</h1>

<%= render 'form' %>

<%= link_to 'Back', :back, :class => "button"  %>
<td><%= link_to 'Delete', @attendance, method: :delete, data: { confirm: 'Are you sure?' }, class: "button-caution" %></td>
