<h1>Cập Nhật Kết Quả</h1>

<%= render 'form' %>
<%= link_to 'Quay Lại', :back, :class => "button"  %>
<td><%= link_to 'Xóa', @attendance, method: :delete, data: { confirm: 'Are you sure?' }, class: "button-caution" %></td>
