<header>
  <a style="display: inline-block; text-decoration: none; padding: 5px" href=<%=root_path%>>
    <div style="display: flex">
      <img src="/assets/logo.png" height='35px' width='35px' style='margin: 0px 5px'>
      <div style="font-size: 12px">Ban Giáo Lý<br>Giáo Xứ Mẫu Tâm</div>
    </div>
  </a>

  <nav>
    <form action="/search" method="get">
      <input type="text" name="query"/>
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
    <a href="/classrooms">Lớp Học</a>
    <a href="/teachers">Giáo Lý Viên</a>
    <% if @current_user %>
      <a href=<%= teacher_url(@current_user.teacher) %>>Người dùng</a>
    <% end %>
    <a href="/logout">Đăng Xuất</a>
  </nav>
</header>